* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

/* html,
body {
    overflow: hidden;
} */

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 1;
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1vh;
  left: auto;
  right: 2vw;
  height: auto;
  font-size: 3vw;
  font-family: "Cabin", sans-serif;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  padding-left: 2vw;
  padding-top: 1vh;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.section {
  height: 100vh;
  z-index: 3;
}

.section h1 {
    position: relative;
    top: 30%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
}

.name h1 {
  margin-top: 20%;
}

.name h2 {
  font-size: 4vh;
}

.headliner {
  display: flex;
  max-width: 100vw;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  font-size: 10vw;
  justify-content: center;
}

.headliner h1 {
    margin-top: 20%;
}

#changing-word {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: white;
  z-index: 3;
}

.fade-out {
  opacity: 0;
}

#intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vh;
  width: 75vw;
}

#skills {
  position: relative;
  left: 10%;
  top: 11%;
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 3vh;
  width: 75vw;
  z-index: 3;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}

.two-columns li {
  flex: 0 0 calc(50% - 10px); /* the "10px" value is for spacing between columns, adjust as needed */
  margin-right: 10px; /* the same value as above */
  list-style-type: none;
  margin: 1px;
}

.two-columns li:nth-child(2n) {
  margin-right: 0;
}

.wrapper {
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.shadow {
  position: absolute;
  width: 200vw;
  height: 200vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: radial-gradient(circle at center, transparent, #000 20%);
}

.feature-icons li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-icons {
  background-color: white;
  border-radius: 10px;
  display: block;
  height: 1.5em;
  width: 1.5em;
  line-height: 2.5em;
  padding: 5px;
  margin-right: 8px;
}

.projects {
  position: relative;
  color: #ffeded;
  font-family: "Cabin", sans-serif;
  font-size: 3vh;
  margin-top: 50vh;
  margin-right: 10%;
  margin-left: 50%;
  z-index: 3;
}

.projects li {
  list-style-type: none;
  margin-bottom: 50vh;
}

.projects li a {
  text-decoration: none;
}

.projects li > * {
  margin-bottom: 2vh;
  display: block;
}

form{
  height: auto;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  z-index: 4;
}

form *{
  font-family: 'Cabin',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

textarea {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toast {
  visibility: hidden;
  position: fixed;
  bottom: 7.5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  z-index: 1001;
  transition: visibility 0.5s, opacity 0.5s linear;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}