body {
    background-color: black;
    color: white;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* this gives some space between boxes */
}

.box {
    flex-direction: column;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 40vw;
    height: calc(40vw / 1.5);
}