*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 20000px;
}

body {
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar {
    position: fixed;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1vh;
    left: auto;
    right: 2vw;
    height: auto;
    font-size: 3vw;
    font-family: 'Cabin', sans-serif;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    padding-left: 2vw;
    padding-top: 1vh;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    /* cursor: pointer; */
}

.section
{
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 5vw;
    align-items: center;
    width: auto;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    padding: 20px;
}

.section div {
    padding-right: 5%;
    margin-right: auto;
    background-image: linear-gradient(to bottom, transparent, rgba(32, 47, 89, 0.8));
}

.section h1 {
    text-transform: uppercase;
    font-size: 7vh;
}

.section p {
    margin-top: 1vh;
    padding: 1vh;
    font-size: 3vh;
}

a {
    color: #ffffff;
}

#intro {
    position: fixed;
    visibility: hidden;
}

#thawd {
    visibility: hidden;
    position: fixed;
}

#hi-crush-2017 {
    visibility: hidden;
    position: fixed;
}

#preferred-sands {
    position: fixed;
    visibility: hidden;
}

#hi-crush-2020 {
    position: fixed;
    visibility: hidden;
}

#home {
    position: fixed;
    visibility: hidden;
}

.jw-modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black with opacity */
}

.jw-modal.open {
    display: block;
}

.jw-modal-body {
    background-color: #0DBE36;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 20px;
}

.jw-modal-body div {
    margin-top: 20%;
}

.jw-modal-body p {
    margin: 3vh;
    font-size: 3vw;
    color: white;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

#hack-reactor {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#student-icon {
    margin-top: 10%;
}

.modal-icons {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

form{
    height: auto;
    width: 100%;
    background-color: rgb(19,57,29);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 4;
  }

  form *{
    font-family: 'Cabin',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  textarea {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  .toast {
    visibility: hidden;
    position: fixed;
    bottom: 7.5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    z-index: 1001;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
  }

  .toast.show {
    visibility: visible;
    opacity: 1;
  }
